:root{
    --black: rgb(60, 60, 60);
    --hover: #deb887;
}

body{
    font-family: Futura;
    color: var(--black);
}

span{
    font-size: 23px;
}

p{
    font-family: gibbs, sans-serif;
    font-size: 16px;
    color: var(--black);
}

img{
    max-width: 100%;
}

a{
    color: var(--black);
    text-decoration: none;
}

a:hover{
    color: var(--hover);
}

/* site title in navbar*/
.site_title_navbar{
    font-size: 28px;
}

.site_title{
    font-size: 26px;
}

.menu_item{
    font-size: 20px;
    font-weight: 200;
}

.btn_text{
    font-size: 16px;
    vertical-align: middle;
}

.btn_text:hover{
    color: var(--hover);
}


/*title for each page*/
.pg_title{
    font-size: 30px;
}

.pg_subtile{
    font-size: 28px;
}

/* generic bold */
.bold{
    font-weight: bold
}

.emphasize{
    font-style: italic;
}

/* for content */
.content{
    font-family: gibbs, sans-serif;
    font-size: 23px; 
}


.pg_footnote{
    font-family: futura;
    font-size: 23px;
}

/* navbar */

#navbar{
    margin-top: 25px;
    margin-bottom: 30px;
    width: 100%;
    height:100px;
}

.navlink{
    padding-left: 10px;
    margin-left: 20px;
    float: right;
    padding-top: 10px;
}

.left_arrow{
    position: absolute;
    bottom: 50%;
    height: 30px;
    left: 5%;
}
.right_arrow{
    position: absolute;
    bottom: 50%;
    height: 30px;
    right: 5%; 
}

.arrow{
    vertical-align: middle;
    margin-top: 2px;
}

/* for # IDs */

#progress_btn{
    display: inline;
    
}

/* shapes */
.color_circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 10px auto;
  }

  .mid_drag_circle {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: lightgray;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  /* quiz section 2 */
  .paintings{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;

  }
  .paintings img{
     
    border-radius: 5%;
  }
  .btn{
      margin: 5px;
      background-color: lightgray;
      width: 150px;
      height: 40px;
      border-radius: 20px;
  }
  .sec2_q1{
    max-width: 50%;
}
  .choice{
      margin: 15px;
      text-align: center;
  }

/* images */

.color_wheel{
    width: 100%;
    position: relative;
    margin-top: -70px;
    margin-left: 90px;
}

/* frames */

.learn-frame{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

.center_text{
    position: relative;
    top: 50%;
}

.center_image{
    position: relative;
    top: 50%; 
    margin: auto;
}

.learn_text{
    height: 200px;
    position: relative;
}  

.learn_title{
    margin-bottom: 20px;
}