:root{
    --black: rgb(60, 60, 60);
    --hover: #deb887;
}

body{
    font-family: Futura;
    color: var(--black);
}

span{
    font-size: 23px;
}

p{
    font-family: gibbs, sans-serif;
    font-size: 16px;
    color: var(--black);
}

img{
    max-width: 100%;
}

a{
    color: var(--black);
    text-decoration: none;
}

a:hover{
    color: var(--hover);
}

/* site title in navbar*/
.site_title_navbar{
    font-size: 28px;
}

.site_title{
    font-size: clamp(1.2rem, 3.2vw, 4vh);
    color: white;
}

.menu_item{
    font-size: 20px;
    font-weight: 200;
}

.btn_text{
    font-size: 18px;
    vertical-align: middle;
    padding-top: 2px;
    display: inline-block;
    max-width: 130px;
}

.btn_text.left{
    text-align: left;
    margin-left: 3px; 
}

.btn_text.right{
    margin-right: 3px;
    text-align: right;
}

.btn_text:hover{
    color: var(--hover);
}


/*title for each page*/
.pg_title{
    font-size: 30px;
}

.pg_subtile{
    font-size: 28px;
    color: grey
}

.pg_footnote{
    font-size: 18px;
}

.pg_progress{
    font-size: 17px; 
}

/* generic bold */
.bold{
    font-weight: bold
}

.emphasize{
    font-style: italic;
}

/* for content */
.content{
    font-family: gibbs, sans-serif;
    font-size: 23px; 
}



/* navbar */

#navbar{
    margin-top: 25px;
    margin-bottom: 30px;
    width: 100%;
    height:100px;
}

.navlink{
    padding-left: 10px;
    margin-left: 20px;
    float: right;
    padding-top: 10px;
}

.left_arrow{
    position: fixed;
    bottom: 50%;
    left: 5%;
    max-width: 200px
}
.right_arrow{
    position: fixed;
    bottom: 50%;
    right: 5%; 
    max-width: 200px;
}

.arrow{
    vertical-align: middle;
    margin-top: 2px;
    display: inline-block;
    padding-top: 2px;
}

.footnote{
    position: absolute;
    bottom: 5%;
    height: 20px;
    width: 100%;
}

.left_footnote{
    float: left;
    margin-left: 100px;
    display: inline-flex;
}

.right_footnote{
    float: right;
    margin-right: 100px;
    display: inline-flex;
}  

/* for # IDs */

/* shapes */

.spaced{
    margin-left:20px;
    margin-right: 20px;
}

.color_circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 10px auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    }
    
    .circle-on-hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
        -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    }

.circle-on-selected {
    box-shadow: 0px 0px 10px rgba(99, 127, 254, 0.6);
    -moz-box-shadow: 0px 0px 10px rgba(99, 127, 254, 0.6);
    -webkit-box-shadow: 0px 0px 10px rgba(99, 127, 254, 0.6);
    -o-box-shadow: 0px 0px 10px rgba(99, 127, 254, 0.6);
}

.wrong-color-circle {
    border: 1px solid red;

}

.correct-color-circle {
    border: 1px solid greenyellow;
}
  .mid_drag_circle {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: #E9E9E9;
    box-shadow: 3px 4px 7px #D6D6D6 inset;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: italic;
    color: #a1a1a1;
    font-weight: bold;
  }

.sm_drag_circle {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: #E9E9E9;
    box-shadow: 3px 4px 7px #D6D6D6 inset;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: italic;
    color: #a1a1a1;
    font-weight: bold;
    font-size: 13px;
}
  /* quiz section 2 */
.quiz-choice-btn {
      margin: 5px;
      border: 0px;
      background-color: lightgray;
      font-style: italic;
      color: #a1a1a1;
      width: 150px;
      height: 40px;
      border-radius: 20px;
  }

.quiz-choice-btn:hover {
    border: 1px solid #4295f5;
}

.quiz-choice-btn.correct {
    background-color: green;
    color: black;
}

.quiz-choice-btn.wrong {
    background-color: red;
    color: black;
}
.quiz-choice {
      margin: 15px;
      text-align: center;
}


/* images */
.quiz-image-center {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: auto;
    }

.quiz-image-center img {
    border-radius: 5%;
}

.quiz-image-left {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.quiz-image-left img {
    border-radius: 5%;
}
/* color circles*/

.color_circles{
    width: 100%;
    margin-top: 50px;
    margin-top: 100px;
    text-align: center;
}

/* frames */

.title_frame{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle_frame{
    display: inline-flex;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.learn_frame{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:fit-content
}

.learn_div{
    display: inline-block;
    min-height: fit-content;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
}

.learn_div.text{
    max-width: 380px;
    min-width: 250px;
}

.learn_div.image{
    max-width: 600px;
}

.learn_text{
}

.learn_title{
    margin-bottom: 20px;
}

.arrow{
    background-color: white;
    border: 0px;
}

.choice{
    text-align: center;
}

.cover_image{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    min-width: 400px;
}

  /* quiz end */
  .end_score{
      margin-top: 100px;
  }

.center-image-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.center-image-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.color-circle {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 40px;
    margin: 5px;
}

.ui-draggable{
    cursor: grab;
    cursor: -webkit-grab;
}

.ui-draggable:active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.left_space{
    margin-left: 1000px;
}

.palette {
    display: flex;
    justify-content: center;
}
.palette-circle {
    background-color: #E9E9E9;
    box-shadow: 3px 4px 7px #D6D6D6 inset;
    display: inline-block;
}
.main-palette-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.palette-circle-bigger {
    width: 250px;
    height: 250px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
}
.palette-circle-big {
    width: 300px;
    height: 300px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 150px;
}
.palette-circle-med {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    /* display: inline-block; */
}
.palette-circle-small {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 50px;
}
.palette-reference {
    margin-top: 30px;
}
.color-examples {
    display: flex;
    justify-content: space-around;
}
.learn-colors-row {
    margin-bottom: 10px;
}
.learn-color-name {
    font-weight: bold;
    font-size: small;
    font-style: italic;
    color: #a1a1a1;;
    text-align: center;
}
.large{
    font-size: 16px;
}

.learn-text {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 80px;
}
.learn-text-inside {
    margin-left: 30px;
    margin-right: 10px;
}
.learn-text-title {
    font-size: large;
    font-weight: bold;
    color: rgb(97, 97, 97);
}
.learn-text-content {
    color: #676767;
}
.quiz-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.center-palette {
    margin-left: 30px;
    position: relative;
    top: 20%;
}


/* Interactive Module */
.interactive_frame{
    max-width: 700px;
    min-width: 700px;
    display: inline-block;
    vertical-align: middle;
}

.interactive_frame_large{
    max-width: 100%;
    min-width: 1000px;
    display: inline-block;
    vertical-align: middle;
}

.row-move-down {
    margin-top: 50px;
}

.row-move-down-small{
    margin-top: 20px;
}

.small-font {
    font-size: small;
}
.div-inline {
    display: inline-block;
}
.verticalcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.palette-reference {
    margin-top: 30px;
    margin-left: 30px;
}
.choose-column-container {

}

.choose-column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    margin-top: -20px;
    width: 400px;
}

.quiz-1-button {
    margin-left: 55px;
    border: 0px;
    background-color: lightgray;
    font-style: italic;
    color: #a1a1a1;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.reset-button:hover{
    background-color: #a1a1a1;
    color: white;
}

.confirm-button:hover{
    background-color: #a1a1a1;
    color: white;
}


.floating {
    position: relative;
    z-index: 1;
}
.display-color-name {
    color: white;
}

/* Color Wheel*/

.complementary_circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    background-color: lightgrey;
}

.complementary_circle.left{
    float: left;
    margin-left: 160px;
}

.complementary_circle.right{
    float: right;
    margin-right: 160px;
}

.complementary_frame{
    margin-top: 50px;
    width: 100%;
}

.analogous_frame{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.analogous_circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    background-color: lightgrey;
    margin-left: 30px;
    margin-right: 30px;
}

.colorwheel{
    margin: auto;
    width: 500px;
    height: 500px;
}

svg path{
    stroke-width: 0px;
}

.pie_hover{
    filter: drop-shadow(3px 0 0.4rem rgb(102, 102, 102));
    z-index: 100; 
}

.pie{
    z-index: 3;
}

.instruct_text{
    font-size: 18px;
    width: 80px;
    margin-right: 10px;
}

.button-container{
    padding-left: 0px;
}