{% extends "layout.html" %}

{% block left_arrow %}
    <div class="progress_btn" onclick="location.href='/learn/color_context'">
        <i class="fa fa-caret-left fa-xl arrow" aria-hidden="true"></i>
        <span class="btn_text">Colors in Context</span>
    </div>
{% endblock %}

{% block right_arrow %}
    <div class="progress_btn" onclick="location.href='/learn/color_film'">
        <span class="btn_text">Colors in Film</span>
        <i class="fa fa-caret-right fa-xl arrow" aria-hidden="true"></i>
    </div>
{% endblock %}

{% block content %}
    <div class="row container">
        <div class="col-lg-5 col-md-5 col-sm-12 learn_frame">
            <div class="center_text">
                <div class="learn_title">
                    <span class="pg_title">{{text["title"]}}</span>
                </div>
                <div class="learn_text">
                    <p>{{text["content"]}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 learn_frame">
            <div class="center_image">
                <div class="color_wheel"><img src="{{media['URL']}}"></div>
                <div class="color_circles">
                    {% for color in colors %}
                    <div class="circle_frame">
                        <div class="palette-circle-med" style="background-color: {{color}}"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}