{% extends "layout.html" %}

{% block left_arrow %}
    <div class="progress_btn" onclick="location.href='{{flow['l_link']}}'">
        <div class="arrow"><i class="fa fa-caret-left fa-xl" aria-hidden="true"></i></div>
        <div class="btn_text left"><span class="pg_progress">{{flow['l_text']}}</span></div>
    </div>
{% endblock %}

{% block right_arrow %}
    <div class="progress_btn" onclick="location.href='{{flow['r_link']}}'">
        <div class="btn_text right"><span class="pg_progress">{{flow['r_text']}}</span></div>
        <div class="arrow"><i class="fa fa-caret-right fa-xl" aria-hidden="true"></i></div>
    </div>
{% endblock %}

{% block content %}
    
        <div class="learn_frame">
            
            <!--left side text-->
            <div class="learn_div text">
                <div class="learn_title">
                    <span class="pg_title">{{text["title"]}}</span>
                </div>
                <div class="learn_text">
                    <p>{{text["content"]}}</p>
                </div>
            </div>

            <!--right side image-->
            <div class="learn_div image">
                <div class="learn_image">
                    <img src="{{url_for('static', filename='images/'+ media['URL'])}}">
                </div>
                <div class="color_circles">
                    {% for color in colors %}
                    <div class="circle_frame">
                        <div class="palette-circle-med" style="background-color:{{color}}"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

{% endblock %}