{% extends "layout.html" %}

{% block left_arrow %}
    <div class="progress_btn" onclick="location.href='/learn/primary'">
        <i class="fa fa-caret-left fa-xl arrow" aria-hidden="true"></i>
        <span class="btn_text">Primary Colors</span>
    </div>
{% endblock %}

{% block right_arrow %}
    <div class="progress_btn" onclick="location.href='/learn/tertiary'">
        <span class="btn_text">Tertiary Colors</span>
        <i class="fa fa-caret-right fa-xl arrow" aria-hidden="true"></i>
    </div>
{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'learn_secondary.js') }}"></script>

<script>
    let text = {{text|tojson}}
</script>

    <div class="row container">
        <div class="col-lg-5 col-md-5 col-sm-12 learn_frame">
            <div class="center_text">
                <div class="learn_title">
                    <span class="pg_title">{{text["title"]}}</span>
                </div>
                <div class="learn_text">
                    <p>{{text["content"]}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 learn_frame">
            <div class="row center_image">
                <div class = "col-lg-7 col-md-7 col-sm-12 center-image-left">
                </div>
                <div class = "col-lg-5 col-md-5 col-sm-12 center-image-right">
                </div>
            </div>
        </div>
    </div>
{% endblock %}