{% extends "layout.html" %}

{% block header %}
<script>
    let user = {{user|tojson}}
    
    function showHint() {
        let popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
    }
</script>
<script type="text/javascript" src="{{ url_for('static', filename=js_path) }}"></script>
{% endblock %}

{% block right_arrow %}
    <div class="progress_btn" onclick="location.href='{{flow['r_link']}}'">
        <div class="btn_text right"><span class="pg_progress">{{flow['r_text']}}</span></div>
        <div class="arrow"><i class="fa fa-caret-right fa-xl" aria-hidden="true"></i></div>
    </div>
{% endblock %}

{% block left_arrow %}
    <div class="progress_btn" onclick="location.href='{{flow['l_link']}}'">
        <div class="arrow"><i class="fa fa-caret-left fa-xl" aria-hidden="true"></i></div>
        <div class="btn_text left"><span class="pg_progress">{{flow['l_text']}}</span></div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="learn_frame">
        <!--Static Text on the left side of the screen-->
        <div class="learn_div text">
            <span class="pg_subtitle">Section {{section}}</span>
            <div class="learn_title">
                <span class="pg_title">{{text["title"]}}</span>
            </div>
            <div class="learn_text">
                <p>{{text["content"]}}</p>
            </div>
        </div>

        <!--Interactive Module-->
        <div class="interactive_frame">
            <div class="row container" id="interactive">
                <!--append to #interactive in jquery-->
                append to #interactive in jquery
            </div>
        </div>
    </div>

{% endblock %}

{% block footnote %} 
    <div class="left_footnote"><span class="pg_footnote left_footnote">Section: {{section}}/2</span></div>
    <div class="mid_footnote popup"><button id="hint-button" onclick="showHint()" title="Toggle Colowheel"><i class="fa fa-eyedropper fa-lg" aria-hidden="true"></i></button>
        <span class="popuptext" id="myPopup"><img src="{{url_for('static', filename='images/color_wheel_12_sides.png')}}" class="popup-image"></span>
    </div> 
    <div class="right_footnote"><span class="pg_footnote right_footnote">Score: {{user["score"]}}/10</span></div>
{% endblock%}