{% extends "layout.html" %}
<script>
    let user = {{user|tojson}}
    let question = {{question|tojson}}
</script>
{% block left_arrow %}
<div class="left_arrow">
    Previous <i class="fa-solid fa-caret-left"></i>
</div>

{% endblock %}
{% block content %}


<div class="paintings">
    <img src={{question.url}} class="sec2_q1">
</div>
<div class="choice">
    <button class="btn">Comlementary</button>
    <button class="btn">Analogus</button>
</div>

{% endblock %}

{% block right_arrow %}
<div class="right_arrow">
    Next <i class="fa-solid fa-caret-right"></i>
</div>

{% endblock %}

{% block footnote %}
<div class="row">
    <div class="col-2">
        <span>Section: 2/3</span>
    </div>
    <div class="col-8"></div>
    
    <div class="col-2">
        <span>Score: {{user.score}}/10</span>
    </div>
</div>



{% endblock %}