{% extends "layout.html" %}

{% block header %}
<script>
    let user = {{user|tojson}}
    let flow = {{flow|tojson}}
    let result = {{result|tojson}}
</script>
{% endblock %}



{% block left_arrow %}
    <div class="progress_btn" onclick="location.href='{{flow['l_link']}}'">
        <div class="arrow"><i class="fa fa-caret-left fa-xl" aria-hidden="true"></i></div>
        <div class="btn_text left"><span class="pg_progress">{{flow['l_text']}}</span></div>
    </div>
{% endblock %}



{% block content %}
<div class="end_score">
    <div class="learn_frame">
        <div class="interactive_frame_large">
            <div class="row container interact" id="interactive">
                <div class="col justify-content-center">
                    <div><span>Thank you for taking the  Quiz</span></div>
                    <div><span>Score: {{user.score}}/10</span></div>
                    <div>Details:</div>
                    {% for sec in result %}
                    <div><p>{{sec.sec}}:    {{sec.score}}</p></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

