{% extends "layout.html" %}
{% block header %}
<script>
    let user = {{user|tojson}}
    let question = {{question|tojson}}
    let flow = {{flow|tojson}}
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'general.js') }}"></script>
{% endblock %}
{% block left_arrow %}
<div class="progress_btn" id = "previous">
    <i class="fa fa-caret-left fa-xl arrow" aria-hidden="true"></i>
    <span class="btn_text">Previous</span>
</div>

{% endblock %}
{% block content %}


<div class="row">
    <div class="col-6">

        <div class="paintings">
            <img src={{question.url}}>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            {% for color in question.colors %}
            <div class="col-4">
                <div style="background:{{color}};" class="color_circle"></div>
            </div>
            
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-6 mid_drag_circle">drop three analogus colors here</div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block right_arrow %}
<div class="progress_btn" id="next">
    <span class="btn_text">Next</span>
    <i class="fa fa-caret-right fa-xl arrow" aria-hidden="true"></i>
</div>

{% endblock %}

{% block footnote %}
<div class="left_footnote"><span class="pg_footnote left_footnote">Section: 2/3</span></div>
<div class="right_footnote"><span class="pg_footnote right_footnote">Score: {{user.score}}/10</span></div>

{% endblock %}