{% extends "layout.html" %}

{% block header %}
<script>
    let user = {{user|tojson}}
    let flow = {{flow|tojson}}
    let text = {{text|tojson}}
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'general.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_sec1_cover.js') }}"></script>
{% endblock %}


{% block content %}
        <div class="learn_frame">
            <!--left side text-->
            <div class="learn_div text">
                <span class="pg_subtitle">Section {{section}}</span>
                <div class="learn_title">
                    <span class="pg_title">{{text["title"]}}</span>
                </div>
                <div class="learn_text">
                    <p>{{text["content"]}}</p>
                </div>
            </div>

            <!--right side image-->
            <div class="learn_div">
                <div class="row center-palette">
                    <div class = "col-lg-7 col-md-7 col-sm-12 center-image-left">
                    </div>
                    <div class = "col-lg-5 col-md-5 col-sm-12 center-image-right">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block right_arrow %}
<!-- <div class="progress_btn" id="next">
    <span class="btn_text">Next</span>
    <i class="fa fa-caret-right fa-xl arrow" aria-hidden="true"></i>
</div> -->
<div class="progress_btn" onclick="location.href='{{flow['r_link']}}'">
    <div class="btn_text right"><span class="pg_progress">{{flow['r_text']}}</span></div>
    <div class="arrow"><i class="fa fa-caret-right fa-xl" aria-hidden="true"></i></div>
</div>


{% endblock %}