{% extends "layout.html" %}

{% block header %}
<script>
    let user = {{user|tojson}}
    let flow = {{flow|tojson}}
    let content = {{content|tojson}}
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'general.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_sec2_cover.js') }}"></script>
{% endblock %}



{% block content %}
<div class="row">
    <div class="col-6" id="text">
        <div class="quiz_section" id = "section"></div>
        <div class="pg_title" id = "title"></div>
        <div id="content">
        </div>
    </div>
    <div class="col-6" id = "img">
    </div>
</div>
{% endblock %}

{% block right_arrow %}
<div class="progress_btn" id="next">
    <span class="btn_text">Next</span>
    <i class="fa fa-caret-right fa-xl arrow" aria-hidden="true"></i>
</div>


{% endblock %}

