{% extends "layout.html" %}

{% block header %}
<script>
    let user = {{user|tojson}}
    let question = {{question|tojson}}
    let flow = {{flow|tojson}}
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'general.js') }}"></script>
{% endblock %}



{% block left_arrow %}
<button class="arrow left_arrow" id = "previous">
    Previous <i class="fa-solid fa-caret-left" ></i>
</button>

{% endblock %}
{% block content %}


<div class="paintings">
    <img src={{question.url}} class="sec2_q1">
</div>
<div class="choice">
    <button class="choice_btn">Comlementary</button>
    <button class="choice_btn">Analogus</button>
</div>

{% endblock %}

{% block right_arrow %}
<button class="arrow right_arrow" id = "next">
    Next <i class="fa-solid fa-caret-right"></i>
</button>

{% endblock %}

{% block footnote %}
<div class="row">
    <div class="col-2">
        <span>Section: 2/3</span>
    </div>
    <div class="col-8"></div>
    
    <div class="col-2">
        <span>Score: {{user.score}}/10</span>
    </div>
</div>



{% endblock %}