{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<script>
    let colors = {{colors|tojson}}
    let questions = {{questions|tojson}}
    let text = {{text|tojson}}
</script>
<!-- <div class = "container"> -->
    <div class = "row">
        <div class = "col-md-1 previous-button-container">
        </div>
        <div class = "col-md-4 quiz-text">

        </div>
        <div class = "col-md-6 learn-colors">

        </div>
        <div class = "col-md-1 next-button-container">
        </div>
    </div>
<!-- </div> -->

{% endblock %}